@{
    ViewData["Title"] = "Home Page";
}
    <script>
        var myCarousel = document.querySelector('#myCarousel')
        var carousel = new bootstrap.Carousel(myCarousel)

    </script>
<div class="text-center">
    <h1 class="display-4">Лучший в мире магазин дакимакур</h1>

    <h2 class="display-4">В худшей стране мира :)</h2>

    <p class="text-wrap">Тут будет написано, почему только наши лоли достойны внимания</p>
    <div class="container text-center">

        <div id="carousel" class="carousel slide carousel-fade d-inline-block" data-ride="carousel">
            <!-- Индикаторы -->
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
        </div>

    </div>
</div>
